<!DOCTYPE html>
<html lang="en">

<head>
  {{common-head.html}}
  <title>Help</title>
</head>

<body>

  <main>
    <h1 class="text-center my-4">
      <span>Help</span>
      <i class="bi bi-life-preserver"></i>
    </h1>

    <section id="help-page" class="container">
      <div class="mb-3">
        <a href="@/" smooth-link class="btn btn-outline-warning">
          <span>Back</span>
          <i class="bi bi-arrow-return-left"></i>
        </a>
      </div>

      <ul>
        <li>
          <p>
            You can create a task by setting its
            <kbd>name</kbd>,
            <kbd>decrease rate</kbd>,
            <kbd>...</kbd>.
          </p>
        </li>

        <li>
          <p>
            After creating a task,
            its status is 0.
            you can increase it by
            amount of <kbd>boost</kbd>
            that you've defined in the
            <kbd>task's actions</kbd>.
          </p>
        </li>

        <li>
          <p>
            The status is decreased constantly
            according to its <kbd>decrease rate</kbd>.
          </p>
        </li>

        <li>
          <p>
            The whole purpose of the app is to
            remind you what kind of tasks you should do,
            and how much you have to do it.
          </p>
        </li>
      </ul>

    </section>
  </main>

</body>

</html>