<!DOCTYPE html>
<html lang="en">

<head>
  {{common-head.html}}
  <title>Intro</title>
</head>

<body>

  <main>
    <h1 class="text-center my-4">
      <span>Intro</span>
      <i class="bi bi-pin-angle"></i>
    </h1>

    <section id="landing-page" class="container">

      <div class="alert alert-info">
        <i class="bi bi-lightbulb"></i>
        <strong>
          <em>
            Idea:
          </em>
        </strong>
        <span>
          An app based on this article by Oliver Emberton:
          <a target="_blank" href="https://oliveremberton.com/2014/life-is-a-game-this-is-your-strategy-guide/" class="text-danger ">
            Life is a game; This is your strategy guide
          </a>
        </span>
      </div>

      <div>
        <a href="@/task/list.html" smooth-link class="btn btn-outline-primary">
          <span>App</span>
          <i class="bi bi-grid-3x2-gap-fill"></i>
        </a>
        <a href="@/help.html" smooth-link class="btn btn-outline-warning">
          <span>Help</span>
          <i class="bi bi-life-preserver"></i>
        </a>
        <a href="@/settings.html" smooth-link class="btn btn-outline-secondary">
          <span>Settings</span>
          <i class="bi bi-nut"></i>
        </a>
      </div>
    </section>
  </main>

</body>

</html>