<!DOCTYPE html>
<html lang="en">

<head>
  {{common-head.html}}
  <title>Bars</title>
</head>

<body>

  <main>
    <h1 class="text-center my-4">
      <span>Intro</span>
      <i class="bi bi-info-circle"></i>
    </h1>

    <section id="landing-page" class="container">
      <div class="alert alert-primary">
        <strong>
          Hey, first time to visit!
        </strong>
        <p>
          Change a few things up
          and try submitting again.
        </p>
      </div>

      <a href="@/task/list.html" smooth-link class="btn btn-outline-primary">
        <span>App</span>
        <i class="bi bi-box-arrow-right"></i>
      </a>
      <a href="@/settings.html" smooth-link class="btn btn-outline-primary">
        <span>Settings</span>
        <i class="bi bi-nut"></i>
      </a>
    </section>
  </main>

</body>

</html>