<!DOCTYPE html>
<html lang="en">

<head>
  {{common-head.html}}
  <title>Settings</title>
</head>

<body>
  {{alert.html}}

  <main>
    <h1 class="text-center my-4">
      <span>Scratch Pad</span>
      <i class="bi bi-journal-text"></i>
    </h1>

    <section id="scratch-page" class="container">
      <div class="alert alert-warning">
        <i class="bi bi-lightbulb"></i>
        <strong>
          <em>
            Tip:
          </em>
        </strong>
        <span>plan your day a night before</span>
      </div>

      <div class="alert alert-danger">
        <i class="bi bi-fire"></i>
        <strong>
          <em>
            The law of inertia:
          </em>
        </strong>
        <span>
          If you start on fire, you keep on fire
        </span>
        <a href="https://www.amazon.com/Stop-Procrastinating-Discipline-Overcoming-Procrastination-ebook/dp/B077R2KGH5">
          🔗
        </a>
      </div>


      <textarea id="scratch-pad-area" dir="auto" class="form-control" rows="10" placeholder="plan tomorrow, 
write notes, 
etc
"></textarea>

      <a href="@/" smooth-link class="btn btn-outline-danger my-3 w-100 my-1">
        <span>Back</span>
        <i class="bi bi-arrow-return-left"></i>
      </a>

      <div class="alert alert-info">
        <span>
          <i class="bi bi-quote"></i>
          <cite class="opacity-50 small">
            Alice's Adventures in Wonderland
          </cite>
        </span>
        <ul class="mb-0">
          <li>
            <i>
              Would you tell me, please, which way I ought to go from here?
            </i>
          </li>
          <li>
            That depends a good deal on where you want to get to
          </li>
          <li>
            <i>
              ‍I don’t much care where
            </i>
          </li>
          <li>
            ‍Then it doesn’t mat­ter which way you go
          </li>
        </ul>
      </div>
    </section>
  </main>

</body>

</html>