<!DOCTYPE html>
<html lang="en">

<head>
  {{common-head.html}}
  <title>Settings</title>
</head>

<body>
  {{alert.html}}

  <main>
    <h1 class="text-center my-4">
      <span>Scratch Pad</span>
      <i class="bi bi-journal-text"></i>
    </h1>

    <section id="scratch-page" class="container">
      <div class="alert alert-warning">
        <i class="bi bi-lightbulb"></i>
        <strong>
          <em>
            Tip:
          </em>
        </strong>
        <span>plan your day a night before</span>
      </div>

      <textarea id="scratch-pad-area" class="form-control" rows="10" placeholder="plan tomorrow, 
write notes, 
etc
"></textarea>
    </section>
  </main>

</body>

</html>