<!DOCTYPE html>
<html lang="en">

<head>
  {{common-head.html}}
  <title>Settings</title>
</head>

<body>

  <main>
    <h1 class="text-center my-4">
      <span>Settings</span>
      <i class="bi bi-nut"></i>
    </h1>

    <section id="settings-page" class="container">

      <div>
        <button id="export-db-btn" class="btn btn-outline-success">
          <span>Export</span>
          <i class="bi bi-file-earmark-arrow-down"></i>
        </button>

        <button id="import-db-btn" class="btn btn-outline-primary">
          <span>Import</span>
          <i class="bi bi-upload"></i>
        </button>

        <button id="clear-db-btn" class="btn btn-outline-danger">
          <span>Reset</span>
          <i class="bi bi-eraser"></i>
        </button>

        <a href="@/" smooth-link class="btn btn-outline-warning">
          <span>Back</span>
          <i class="bi bi-arrow-return-left"></i>
        </a>
      </div>
    </section>
  </main>

</body>

</html>