<head>
  {{common-head.html}}
  <title>Intro</title>
</head>

<body>
  {{alert.html}}

  <main>
    <h1 class="text-center my-4">
      <span>The Jar of Time</span>
      <i class="bi bi-prescription"></i>
    </h1>

    <section id="jar-page" class="container">

      <div class="alert alert-warning">
        <i class="bi bi-lightbulb"></i>
        <strong>
          <em>
            Tip:
          </em>
        </strong>
        <span>
          Put more important things first!
        </span>
        <ul class="mb-0">
          <li>
            <a target="_blank" href="https://www.youtube.com/watch?v=SqGRnlXplx0" class="text-danger">
              🎥 A Valuable Lesson For A Happier Life
            </a>
          </li>
          <li>
            <a target="_blank" href="https://dkb.show/post/life-is-not-short" class="text-danger">
              📰 Life is not Short 
            </a>
          </li>
        </ul>
      </div>

      <div>

      </div>
    </section>
  </main>

</body>