<!DOCTYPE html>
<html lang="en">

<head>
  {{common-head.html}}
  <title>States</title>
</head>

<body>

  <main>
    <section id="app-page" class="container">

      <a id="test-stats-base" href="@/task/stats.html"></a>

      <h1 class="text-center my-4">
        <span>States</span>
        <i class="bi bi-segmented-nav"></i>
      </h1>

      <div class="alert alert-warning">
        <i class="bi bi-exclamation-diamond"></i>
        <strong>
          <em>
            Note:
          </em>
        </strong>
        <span>keep your states high</span>
      </div>

      <a href="@/" smooth-link class="btn btn-outline-danger">
        <span>back</span>
        <i class="bi bi-arrow-return-left"></i>
      </a>

      <h3 class="my-3 text-center">
        <span>Active</span>
        <i class="bi bi-play"></i>
      </h3>

      <div id="active-tasks">
        <div rv-each-task="active_tasks" class="my-3" rv-id="task | task_element_id">
          <div class="d-flex justify-content-between">
            <h4 class dir="auto" rv-text="task.name"></h4>
            <div>
              <div rv-each-action="task.actions" class="btn btn-sm btn-outline-dark" rv-task-id="task.id"
                rv-click-action-btn="action.boost" rv-text="action.emoji" rv-task-id="task.id"></div>
              <a rv-href="task | task_stats_url" smooth-link class="btn btn-sm btn-outline-dark">
                <i class="bi bi-graph-up"></i>
              </a>
              <a rv-href="task | task_settings_url" smooth-link class="btn btn-sm btn-outline-dark">
                <i class="bi bi-three-dots"></i>
              </a>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped"></div>
          </div>
        </div>
      </div>

      <a href="@/task/settings.html" id="new-task-link" smooth-link class="btn btn-sm btn-outline-primary w-100">
        <span>new task</span>
        <i class="bi bi-plus-square"></i>
      </a>

      <h3 class="mt-5 mb-3 text-center">
        <span>Archived</span>
        <i class="bi bi-archive"></i>
      </h3>

      <div id="archived-tasks">
        <div rv-each-task="archived_tasks" class="my-2">
          <div class="d-flex justify-content-between">
            <h5 class dir="auto">
              <strike rv-text="task.name"></strike>
            </h5>
            <div>
              <a rv-href="task | task_stats_url" smooth-link class="btn btn-sm btn-outline-dark">
                <i class="bi bi-graph-up"></i>
              </a>
              <a rv-href="task | task_settings_url" smooth-link class="btn btn-sm btn-outline-dark">
                <i class="bi bi-three-dots"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>

</body>

</html>