<!DOCTYPE html>
<html lang="en">

<head>
  {{common-head.html}}
  <title>Tasks</title>
</head>

<body>
  {{alert.html}}

  <main>
    <section id="task-list-page" class="container">

      <a id="test-stats-base" href="@/task/stats.html"></a>

      <h1 class="text-center my-4">
        <span>States</span>
        <i class="bi bi-segmented-nav"></i>
      </h1>

      <div class="alert alert-warning">
        <i class="bi bi-exclamation-diamond"></i>
        <strong>
          <em>
            Note:
          </em>
        </strong>
        <span>keep your states high</span>
      </div>

      <div class="row gx-2">
        <div class="col-sm-10 col-12 mt-1">
          <a href="@/task/settings.html" smooth-link id="new-task-link" class="btn btn-outline-primary w-100">
            <span>New Task</span>
            <i class="bi bi-plus-square"></i>
          </a>
        </div>
        <div class="col-sm-2 col-12 mt-1">
          <a href="@/" smooth-link class="btn btn-outline-danger w-100">
            <span>Back</span>
            <i class="bi bi-arrow-return-left"></i>
          </a>
        </div>
      </div>

      <h3 class="my-4 text-center">
        <span>Active</span>
        <i class="bi bi-play"></i>
      </h3>

      <div id="active-tasks">
        <div rv-each-task="active_tasks" class="my-3" rv-id="task | task_element_id" rv-init-task-item="task.id">
          <div class="row justify-content-between">
            <h4 class="col-auto" dir="auto" rv-text="task.name"></h4>
            <div class="col-auto my-1">
              <div rv-each-action="task.actions" class="btn btn-sm btn-outline-dark" rv-click-action-btn="action.boost"
                rv-text="action.emoji" rv-task-id="task.id"></div>
              <a rv-href="task | task_stats_url" smooth-link class="btn btn-sm btn-outline-dark">
                <i class="bi bi-graph-up"></i>
              </a>
              <button class="btn btn-sm btn-outline-dark" rv-task-item-go-up-btn="task.id">
                <i class="bi bi-chevron-up"></i>
              </button>
              <button class="btn btn-sm btn-outline-dark" rv-task-item-go-down-btn="task.id">
                <i class="bi bi-chevron-down"></i>
              </button>
              <a rv-href="task | task_settings_url" smooth-link class="btn btn-sm btn-outline-dark">
                <i class="bi bi-three-dots"></i>
              </a>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
          </div>
          <div>
            <span class="progress-text"></span>
            <span> / </span>
            <span rv-text="task.max"></span>
          </div>
        </div>
      </div>

      <h3 class="mt-5 mb-3 text-center">
        <span>Archived</span>
        <i class="bi bi-archive"></i>
      </h3>

      <div id="archived-tasks">
        <div rv-each-task="archived_tasks" class="my-2">
          <div class="d-flex justify-content-between">
            <h5 class dir="auto">
              <strike rv-text="task.name"></strike>
            </h5>
            <div>
              <a rv-href="task | task_stats_url" smooth-link class="btn btn-sm btn-outline-dark">
                <i class="bi bi-graph-up"></i>
              </a>
              <a rv-href="task | task_settings_url" smooth-link class="btn btn-sm btn-outline-dark">
                <i class="bi bi-three-dots"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>

</body>

</html>