<!DOCTYPE html>
<html lang="en">

<head>
  {{common-head.html}}
  <title>Task Stats</title>
</head>

<body>
  {{alert.html}}

  <main>
    <section id="task-stats-page" class="container">

      <h1 class="text-center my-4">
        <span>Task Stats</span>
        <i class="bi bi-graph-up"></i>
      </h1>

      <div class="row gx-1 my-4">
        <div class="col col-6">
          <button id="task-stats-apply-btn" smooth-link class="btn btn-outline-primary w-100">
            <span>Apply</span>
            <i class="bi bi-check-lg"></i>
          </button>
        </div>
        <div class="col col-6">
          <a href="@/task/list.html" smooth-link class="btn btn-outline-warning w-100">
            <span>Back</span>
            <i class="bi bi-box-arrow-left"></i>
          </a>
        </div>
      </div>

      <h4>
        <em>
          <span>Task: </span>
        </em>
        <span rv-text="task.name"></span>
      </h4>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <i class="bi bi-calendar"></i>
              <span>Date</span>
            </th>
            <th>
              <i class="bi bi-clock"></i>
              <span>Time</span>
            </th>
            <th>
              <i class="bi bi-lightning"></i>
              <span>Boost</span>
            </th>
            <th>
              <i class="bi bi-radioactive"></i>
              <span>Actions</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr rv-each-rec="records | reversed">
            <td>
              <span rv-text="rec.0 | unixtime_to_formatted_date"></span>
            </td>
            <td>
              <span rv-text="rec.0 | unixtime_to_formatted_time"></span>
            </td>
            <td>
              <span rv-text="rec.1"></span>
            </td>
            <td>
              <button rv-task-stats-remove-record-click="index" class="btn btn-sm btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </section>
  </main>

</body>

</html>